@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@font-face {
	font-family: 'Indie Flower';
	src: url('IndieFlower-Regular.ttf');
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Indie Flower', cursive;
}
