@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@font-face {
	font-family: 'IndieFlower';
	src: url('IndieFlower-Regular.ttf');
}

@font-face {
	font-family: 'ElmsSans';
	src: url('ElmsSans-Medium.ttf');
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'IndieFlower';
}

body,
p {
	font-family: 'ElmsSans';
}
